@model lab25.Models.UserInfo


@{
    using (Html.BeginForm())
    {
        <body style="background-color:mediumturquoise">
            <h3 style="color:whitesmoke; font-family:'French Script MT'; font-size:xx-large ">@ViewBag.Message</h3>
            <h4 style="color:red">@ViewBag.InvMessage</h4>

            <div>
                <div style="color:darkgoldenrod">
                    @Html.ValidationSummary()
                </div>
                <p>Your name: @Html.TextBoxFor(x => x.Name)</p>
                <p>Your age: @Html.TextBoxFor(x => x.Age)</p>
            </div>
            <input style="color:firebrick" type="submit" value="Check Validation" />
        </body>
    }

}
